@using System.Web.Optimization

@using doan.Models
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>@ViewBag.Title - Welcome My Web</title>
    
    @Styles.Render("~/bundle/css2")
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!--HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href='@Url.Action("Index", "Dashboard")'>
                            <img src="~/Storage/Image/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href='@Url.Action("Index", "Dashboard")'>
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Danh Mục Sản Phẩm
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    @Html.ActionLink("Sản phẩm new", "Index", "NewProduct")
                                </li>
                                <li>
                                    @Html.ActionLink("Sản phẩm đang kinh doanh", "Tongsp", "Allproducts")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="far fa-check-square"></i>Danh Sách Đơn Hàng
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    @Html.ActionLink("Đơn hàng đang xử lý", "Index", "Orders")
                                </li>
                                <li>
                                    @Html.ActionLink("Đơn hàng đang giao", "Index", "Orders")
                                </li>
                                <li>
                                    @Html.ActionLink("Đơn hàng đã giao", "Index", "Orders")
                                </li>
                                <li>
                                    @Html.ActionLink("Đơn hàng huỷ", "Index", "Orders")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Danh Sách Khách Hàng
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    @Html.ActionLink("Tất cả khách hàng", "Index", "Customers")
                                </li>
                                <li>
                                    @Html.ActionLink("Quản lí khách hàng", "Index", "CustomerManagement")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="@Url.Action("Index", "Dashboard")">
                    <img src="~/Storage/Image/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href='@Url.Action("Index", "Dashboard")'>
                                <i class="fas fa-tachometer-alt"></i>DashBoard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Danh Mục Sản Phẩm
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Sản phẩm new", "Index", "NewProduct")
                                </li>
                                <li>
                                    @Html.ActionLink("Sản phẩm đang kinh doanh", "Tongsp", "Allproducts")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="far fa-check-square"></i>Danh Sách Đơn Hàng
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Đơn hàng đang xử lý", "Index", "Orders")
                                </li>
                                <li>
                                    @Html.ActionLink("Đơn hàng đang giao", "Index", "Orders")
                                </li>
                                <li>
                                    @Html.ActionLink("Đơn hàng đã giao", "Index", "Orders")
                                </li>
                                <li>
                                    @Html.ActionLink("Đơn hàng huỷ", "Index", "Orders")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Danh Sách Khách Hàng
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Tất cả khách hàng", "Index", "Customers")
                                </li>
                                <li>
                                    @Html.ActionLink("Quản lí khách hàng", "Index", "CustomerManagement")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Tìm kiếm..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                @{ var session = (TaiKhoan)Session["TTdangnhap"];
                                    if (session == null)
                                    {
                                        @ViewBag.Thongbao
                                    }
                                    else
                                    {
                                        @*<div class="noti-wrap">
                                            <div class="noti__item js-item-menu">
                                                <i class="zmdi zmdi-notifications"></i>
                                                <span class="quantity">3</span>
                                                <div class="notifi-dropdown js-dropdown">
                                                    <div class="notifi__title">
                                                        <p>You have 3 Notifications</p>
                                                    </div>
                                                    <div class="notifi__item">
                                                        <div class="bg-c1 img-cir img-40">
                                                            <i class="zmdi zmdi-email-open"></i>
                                                        </div>
                                                        <div class="content">
                                                            <p>You got a email notification</p>
                                                            <span class="date">April 12, 2018 06:50</span>
                                                        </div>
                                                    </div>
                                                    <div class="notifi__item">
                                                        <div class="bg-c2 img-cir img-40">
                                                            <i class="zmdi zmdi-account-box"></i>
                                                        </div>
                                                        <div class="content">
                                                            <p>Your account has been blocked</p>
                                                            <span class="date">April 12, 2018 06:50</span>
                                                        </div>
                                                    </div>
                                                    <div class="notifi__item">
                                                        <div class="bg-c3 img-cir img-40">
                                                            <i class="zmdi zmdi-file-text"></i>
                                                        </div>
                                                        <div class="content">
                                                            <p>You got a new file</p>
                                                            <span class="date">April 12, 2018 06:50</span>
                                                        </div>
                                                    </div>
                                                    <div class="notifi__footer">
                                                        <a href="#">All notifications</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                        
                                        <div class="account-wrap">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="image">
                                                    <img src="~/Storage/Image/icon/avatar-01.jpg" alt="@session.tenTV" />
                                                </div>
                                                <div class="content">
                                                    <a class="js-acc-btn" href="#">@session.taiKhoan1</a>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="info clearfix">
                                                        <div class="image">
                                                            <a>
                                                                <img src="~/Storage/Image/icon/avatar-01.jpg" alt="@session.tenTV" />
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="name">
                                                                <a>@session.taiKhoan1</a>
                                                            </h5>
                                                            <span class="email">@session.email</span>
                                                        </div>
                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        <a href="@Url.Action("LogOUT", "Logout")">
                                                            <i class="zmdi zmdi-power"></i>Đăng xuất
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundleS/scripts2")
    <script src="https://cdn.tiny.cloud/1/3243l7pr8mel6nqhjsr83mhujlt1wvmvrxnjhzualo5etzos/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' })</script>
</body>
</html>